# Node modules (reinstalat pe server)
node_modules

# Git
.git
.gitignore

# Build-uri și cache locale
.expo
.expo-shared
android
ios
web-build

# Loguri și fișiere temporare
*.log
*.tmp
*.bak

# Fișiere generate local (APK, AAB, Keystore)
*.apk
*.aab
*.keystore

# Config-uri locale / secrete
.env
.env.local
